%% version
{minimum_otp_vsn, "18.0"}.

%% directory in '<base_dir>/<profile>/' where deps go
{deps_dir,["deps"]}.
%% directories where OTP applications for the project can be located
{project_app_dirs, ["."]}.
%% Directories where source files for an OTP application can be found
{src_dirs, ["src"]}.
%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
{extra_src_dirs, []}.

{erl_opts,[debug_info,{parse_transform, lager_transform},
 		   warn_format,warn_export_all,warn_obsolete_guard,warn_bif_clash]}.

{erl_first_files, ["src/z_sql_pt.erl"]}.

{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{dialyzer_opts,       [{warnings,[error_handling,race_conditions,behaviours]}]}.
{clean_files,         [".eunit", "ebin/*.beam", "test/*.beam"]}.

{deps,[
	{lager,"3.2.1",{git,"https://github.com/basho/lager.git",{tag,"3.2.1"}}},
	{p1_pgsql,".*",{git,"https://github.com/processone/p1_pgsql.git",{tag,"1.1.0"}}},
	{p1_mysql,".*",{git,"https://github.com/processone/p1_mysql.git",{tag,"1.0.1"}}}
]}.